/jplandi-MiprimerPrograma/nbproject/private/
/jplandi-MiprimerPrograma/build/
/jplandi.MiprimerProgram/nbproject/private/
/jplandi.MiprimerProgram/build/
/proyecto01/nbproject/private/
/proyecto01/build/
/proyecto.02/nbproject/private/
/proyecto.02/build/
